body{
  padding: 0;
  font-family: Verdana;
  width: 70%;
  margin: auto;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.em-container, .episod-title{
  display: flex;
  justify-content: center;
  margin: 2em;
}



.em{
  margin: 0.2em;
}

.level{
  display: flex;
  align-content: stretch;
  width: 100%;

}

.level.l-t-r{
  flex-direction: row;
}
.level.r-t-l{
  flex-direction: row-reverse;
}

.image-and-desc-container{
  width: 50%;

}
.level .image-container{
  overflow: hidden;
  margin-bottom: 50px;
  max-height: 80vh;
}

.image-container.no-top{
  margin-bottom: 0;
}

.level span.desc{
  position: absolute;
  padding: 0.5em;
  z-index: 90;
  background-color: rgba(0,0,0,0.5);
  color: white;
  line-height: 1em;
  cursor: default;
  transition: all 0.3s ease;
}

.level span.desc:hover{
  background-color: rgba(0,0,0,1);
}

.level span.date{
  font-style: italic;
  font-size: 0.7em;
}

.level .image-container img, img{
  width: 100%;
  transition: all 1s ease;
  z-index: 1;
}

.level .image-container img:hover{

  transform: scale(1.2,1.2);
}

.connection-line-container{
  width: 50%;
  display: flex;
}

.connection-line{
  width: 50%;
  height: 50%;
  align-self: flex-end;
}

.level.l-t-r .connection-line{

  border-top: 0.08em solid #383838;
  border-right: 0.08em solid #383838;
  border-radius: 0 20px 0 0;
}

.level.r-t-l .connection-line{
  margin-left: 50%;
  border-top: 0.08em solid #383838;
  border-left: 0.08em solid #383838;
  border-radius: 20px 0 0 0;
}

.polina-heart{
  display: block;
  width: 20%;
  margin: auto;
  margin-bottom: 3em;
}

h3, h1{
  text-align: center;
}
